<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.start.Pcouncil.board.mapper.MessageMapper">
	<select id="messageRecCount" parameterType="String" resultType="int">
		SELECT count(*) FROM MAIL WHERE RECEIVER=#{receiver} and receive_del=false;
	</select>
	
	<select id="messageSenCount" parameterType="String" resultType="int">
		SELECT count(*) FROM MAIL WHERE SENDER=#{sender} and sent_del=false;
	</select>
	
	<select id="messagePaging" parameterType="com.start.Pcouncil.board.domain.Criteria" resultType="com.start.Pcouncil.board.domain.MessageVO">
		<![CDATA[
			select
			    m_num, receiver, sender, title, content, send_date, read_date, receive_del, sent_del, addfile
			from
			    mail
			where m_num > 0 and receive_del=false
			order by m_num desc, send_date desc
			limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<insert id="messageInsert" parameterType="com.start.Pcouncil.board.domain.MessageVO">
		INSERT INTO
		MAIL(RECEIVER,SENDER,TITLE,CONTENT,SEND_DATE,ADDFILE)
		VALUES(#{receiver},#{sender},#{title},#{content},now(),#{addfile})
	</insert>
	
	<select id="messageList" resultType="com.start.Pcouncil.board.domain.MessageVO">
		SELECT 
			M_NUM, 
			RECEIVER, 
			SENDER, 
			substring(TITLE,1,10) as TITLE, CONTENT, date_format(SEND_DATE,'%Y-%m-%d %H:%i:%s') as SEND_DATE, READ_DATE, RECEIVE_DEL, SENT_DEL
		FROM MAIL
		ORDER BY M_NUM DESC;
	</select>
	
	<select id="messageDetail" parameterType="int" resultType="com.start.Pcouncil.board.domain.MessageVO">
		SELECT *
		FROM MAIL
		WHERE M_NUM = #{m_num}
	</select>
	
	<update id="messageUpdate" parameterType="int">
		UPDATE MAIL
		SET 
			READ_DATE = now()
		WHERE M_NUM=#{m_num}		
	</update>
	
	<update id="messageRecDelete" parameterType="int"> 
		UPDATE MAIL
		SET
			RECEIVE_DEL=TRUE
		WHERE M_NUM=#{m_num}
	</update>
	
	<update id="messageSenDelete" parameterType="int"> 
		UPDATE MAIL
		SET
			SENT_DEL=TRUE
		WHERE M_NUM=#{m_num}
	</update>
	
	<select id="messageNonCount" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM MAIL
		WHERE RECEIVER=#{email} and READ_DATE is null
	</select>
	
	<select id="messageRanUser" resultType="String">
		select email from user order by rand() limit 3
	</select>
</mapper>